.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*.php
.env
.env.*
!.env.example
*.sqlite
*.sqlite-journal
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
README.md
